textarea{
    display:block;
    height: 150px;
    margin: 0;
    margin: 5px 0 15px 0;
}
#btn{
    margin: 0;
}
.error{
    color: tomato;
    font-size: 14px;
    font-weight: bold;
}
form{
    max-width: 255px;
}
.error.hide{
    display: none;
}