.clpane {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.clpane-list {
    margin-bottom: 10px;
}

.clpane-list-color,
.clpane-list-name {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
}

.clpane-list-item {
    display: block;
    height: 36px;
    line-height: 36px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    padding-left: 56px;
    border: 1px solid transparent;
}

.clpane-list-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid gray;
}

.clpane-list-item.cur {
    border: 1px solid #358DE6;
}

.clpane-list-color {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 2px;
    top: 1px;
}

.clpane-list-font {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 2px;
    top: 1px;
    font-size: 20px;
    padding-left: 10px;
}

.clpane-title {
    height: 30px;
    line-height: 30px;
    color: #3c3c3c;
    cursor: pointer;
}

.clpane-title:hover {
    color: #757575;
}

.btn-down {
    cursor: pointer;
}

body .v-contextmenu {
    margin-top: -80px;
    margin-left: -16px;
}

.clpane-error {
    text-align: center;
    margin-bottom: 20px;
}

.clpane-error>p {
    color: #858585;
    font-size: 14px;
    margin-top: 4px;
    text-align: center;
    margin: 6px auto;
}

.clpane-error>.clpane-error-text {
    font-size: 18px;
    color: #333;
}

.clpane-error-pic {
    margin: auto;
    width: 92px;
    height: 38px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAAAmBAMAAAC7eOHMAAAAHlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzPa2tpoYPIPAAAACXRSTlMALiEoBhkUCw6gn0xjAAABMUlEQVQ4y5WUPW/CMBCGozZ8jH0TQB1tFXVu2tLZVYvUsR9DV6rCDuIPwAK/gX8Ldhxj4C4c7xLn9Oh8vnvthFIDQJaIdQUgl+PX2MmI8VeLL8T4n8U/xfiXxZUYLyx+c45qVwtYdfxPyuG6X35bDu9VlSm22yO3aDq8W0bn3MA0kBmb/Mfh+W81YEUm9xUMC3gNTNIuOD9ohzwPsVf3XYPpaQpCT3C6JWfDSpG+IsW5rcXSPdYpfC3yagxtGbYWbqykHhj8TVCLDJe3JtxC3gb369X+IB0ab8Ard7b/D0ZL6vveLzer8uc0PkOpLFwAr2ntSVWYQ81Z00nh9zbHjX05Sf/xTcy8GWKD8QF958NHz1EUfYwrYuyq4ywMPoqeVgEePdRLAT6NJnGKby7ShfgW1lZ1HRIxnvoAAAAASUVORK5CYII=");
    margin-bottom: 20px;
}