body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
form,
fieldset,
legend,
button,
input,
textarea,
figure,
figcaption,
nav,
footer,
menu,
blockquote,
div,
panel {
    margin: 0;
    padding: 0;
    /*cursor:default;*/
}

/*改变所有元素的盒模型*/
/*
*,
*:after,
*:before {
    box-sizing: border-box;
}
*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

/*这些标签的font-style不要重置，会影响编辑器中的样式*/
/*address,em,i,b{font-style:normal;}*/

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    border: 0;
    font-size: 0;
    -webkit-user-select: none;
    vertical-align: middle;
}

:focus,
button,
input,
select,
textarea {
    outline: none;
}

textarea,
input,
select {
    -webkit-appearance: none;
    appearance: none;
}

textarea,
input {
    background: none;
    border-radius: 0;
    resize: none;
    cursor: text;
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

a,
img {
    -webkit-user-drag: none;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

body {
    word-wrap: break-word;
}

body,
button,
input,
textarea,
select {
    font-family: "Helvetica Neue", Helvetica, Arial, "Roboto", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

/*IE下拆开写否则整条声明失败*/
::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}