:local(.TextMarginCSS) {
  font-size: 14px;
}
:local(.ErrorCss) {
  color: red;
}
:local(.ErrorTextMargin) {
  font-size: 14px;
  margin-bottom: 10px;
}
:local(.FlexCSS) {
  display: flex;
  align-items: center;
}
:local(.FontCSS) {
  font-size: 12px;
}
:local(.AccountViewMinCss) {
  display: flex;
  width: 100%;
  word-break: break-all;
  flex-wrap: wrap;
  align-items: center;
  
}
:local(.AccountViewMaxCss) {
  display: flex;
  width: 100%;
  word-break: break-all;
  align-items: center;
  
}
:local(.URLMaxWidthCss) {
  width: 100%;
  margin-left: 0px;
}
:local(.URLMinWidthCss) {
  width: 60%;
  margin-left: 0px;
}
:local(.dropdown) {
  position: relative;
  display: inline-block;
}
:local(.dropbtn) {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
:local(.dropdownContent) {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
:local(.dropdownContentCSS) {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
:local(.dropdown:hover .dropdownContent) {
  display: block;
}
:local(.aCSS) {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
