.spread {
	justify-content: space-between;
}
.row {
	align-items: center;
}
.scrolled {
	max-height: 300px;
	border: 1px solid #ccc;
	padding: 15px;
	padding-bottom: 40px;
	overflow-y: scroll;
	margin: 30px 0;
	background: #fff;
}
.scrolled h2 {
	margin-bottom: 10px;
}
.separator {
	margin: 20px 0;
}
.warning {
	color: rgb(200, 70, 30);
}
small {
	color: #aaa;
}
form {
	width: 360px;
}
form.wide {
	width: 500px;
}