:local(.wrapper) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background-color: #EAEAEA;
    border: 1px dotted rgba(0,0,0,0.05);
    margin-top: 10px;
    border-radius: 3px;
}

:local(.text) {
    color: #3F3F3F;
}
