:local(.default) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 34px;
    padding: 6px;
    background-color: #FFD289;
    border: 1px solid #D9A95B;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 3px;
}

:local(.loggedIn) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 34px;
    padding: 6px;
    background-color: #80FFD6;
    border: 1px solid #59DDB2;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 3px;
}

:local(.text) {
    color: #3F3F3F;
}
