.panel {
    max-width: 168px;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 168px;
}

h1 {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

h1 button {
    margin: 0;
    padding: 0;
}

footer {
    flex: 0 0 auto;
    align-items: center;
}

.nogrow {
    flex: 0 0 auto;
}

button {
    margin-left: 0 !important;
}

.noshrink {
    flex: 0 0 auto;
}

.row {
}
.input-row span {
    margin-left: 0 !important;
}
.row div {
    width: auto;
    display: flex;
    height: 18px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.input-row input {
    flex: 1;
    min-width: 140px;
    width: 100%;
    display: inline-block;
    margin-left: 0 !important;
}

hr {
    background: #dddddd;
    height: 1px;
    flex: 1;
    margin: 16px 0 12px 0;
    padding: 0;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: 0 !important;
}

.row img {
    height: 14px;
    margin-right: 4px;
    display: inline-block;
}

.row label span {
    font-size: 100%;
    display: flex;
    align-items: center;
    height: 14px;
    justify-content: center;
}

.row span {
    font-size: 100%;
    display: flex;
    align-items: center;
    height: 14px;
    justify-content: center;
    color: #3F3F3F;
}

form a:hover {
    color: red;
}

.mb6 {
    margin-bottom: 6px;
}
.mb12 {
    margin-bottom: 12px;
}

.row-center {
    text-align: center;
    flex: 1;
    margin-top: 8px;
    padding: 0;
    margin-left: 0;
}

.plugin-button {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border-radius: 3px;
    cursor: default;
    border: 1px solid white;
    color: #8e8e8e;
    margin-bottom: 10px;
}

.plugin-button img {
    border: 4px solid white;
    border-radius: 3px;
    height: 32px;
    width: 32px;
    margin-right: 2px;
}

.plugin-button:hover {
    border: 1px solid #a2a2a2;
}
