.table-base
{
--k-width-2:null;
--k-transparent-back-color:null;
--k-top-2:null;
--k-table-line-color:null;
--k-show-header:null;
--k-show-grid-lines:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-right-2:null;
--k-odd-row-color:null;
--k-left-2:null;
--k-height-2:null;
--k-header-font-size:null;
--k-header-font-properties:null;
--k-header-font-color:null;
--k-header-background-color:null;
--k-font-size-2:null;
--k-even-row-color:null;
--k-bottom-2:null;
--k-advanced-style:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:null;
border:null;
}
.tab-base
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:-1;
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
--k-font-size-2:var(--fontsize_default);
font-style:null;
font-weight:null;
color:#636363;
--k-border-type:No;
--k-selected-row-color:var(--body-accent);
--k-selected-text-color:black;
}
.shape-base
{
--k-width-2:null;
--k-type:rectangle;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-line-color:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:0;
top:87;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-foreground);
opacity:100;
border:null;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-radius:null;
}
.scroll-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
}
.radio-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--header-foreground);
}
.media-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
}
.looper-base
{
--k-width-2:null;
--k-top-2:null;
--k-selection-style:null;
--k-selected-row-color:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
}
.list-base
{
--k-width-2:null;
--k-top-2:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-row-height:null;
--k-right-2:null;
--k-odd-row-color:null;
--k-left-2:null;
--k-height-2:null;
--k-font-size-2:null;
--k-even-row-color:null;
--k-bottom-2:null;
--k-border-type:No;
--k-advanced-style:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
}
.label-base
{
--k-width-2:null;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-font-size-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:53;
top:56;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
border:null;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
text-align:Top Left;
text-decoration:null;
text-overflow:null;
word-wrap:null;
}

.input-base
{
--k-width-2:null;
--k-top-2:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-left-2:null;
--k-hint-text-color:null;
--k-height-2:null;
--k-font-size-2:12;
--k-disabled-text-color:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:#EAEAEA;
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
text-align:Top Center;
border:1;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:#EAEAEA;
border-radius:4;
}

.image-base
{
--k-width-2:null;
--k-transparent-back-color:null;
--k-transparency:none;
--k-top-2:null;
--k-text-y-2:null;
--k-text-y:null;
--k-text-x-2:null;
--k-text-x:null;
--k-text-width-2:null;
--k-text-width:null;
--k-text-height-2:null;
--k-text-height:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-left-2:null;
--k-image-y-2:null;
--k-image-y:null;
--k-image-x-2:null;
--k-image-x:null;
--k-image-width-2:null;
--k-image-width:null;
--k-image-height-2:null;
--k-image-height:null;
--k-height-2:null;
--k-font-size-2:null;
--k-button-effect:null;
--k-bottom-2:null;
--k-border-type:No;
--k-background-image2:null;
--k-advanced-style:No;
left:1;
top:35;
right:null;
bottom:null;
width:null;
height:null;
background-color:-1;
opacity:100;
background-image:null;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
text-align:Center;
border:null;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
background-size:Proportionally Streched;
}

.html-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
}
.form-Inverted
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--header-background);
opacity:100;
background-image:null;
background-size:null;
--k-image-x:null;
--k-image-y:null;
}
.form-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-image-y:null;
--k-image-x:null;
--k-height-2:null;
--k-bottom-2:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
background-image:null;
background-size:null;
}
.draw-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
}
.combo-base
{
--k-width-2:null;
--k-top-2:null;
--k-selected-text-color:null;
--k-selected-row-color:null;
--k-row-height:null;
--k-right-2:null;
--k-odd-row-color:null;
--k-left-2:null;
--k-height-2:null;
--k-font-size-2:null;
--k-even-row-color:null;
--k-bottom-2:null;
--k-border-type:No;
--k-advanced-style:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
}
.check-Toogle
{
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
--k-left-2:null;
--k-top-2:null;
--k-right-2:null;
--k-bottom-2:null;
--k-width-2:null;
--k-height-2:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
--k-font-size-2:null;
font-style:);
font-weight:null;
color:var(--body-foreground);
--k-type:Check Box;
background-position:null;
background-image:ToogleOff-High.png;
--k-background-image2:ToogleOn-High.png;
border:null;
--k-rounded-corners:null;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
--k-advanced-style:null;
--k-image-x:null;
--k-image-x-2:null;
--k-image-y:null;
--k-image-y-2:null;
--k-image-width:null;
--k-image-width-2:null;
--k-image-height:null;
--k-image-height-2:null;
--k-text-x:null;
--k-text-x-2:null;
--k-text-y:null;
--k-text-y-2:null;
--k-text-width:null;
--k-text-width-2:null;
--k-text-height:null;
--k-text-height-2:null;
--k-text-position:null;
--k-costumized-image:null;
}
.check-base
{
--k-width-2:null;
--k-type:Check Box;
--k-top-2:null;
--k-text-y-2:null;
--k-text-y:null;
--k-text-x-2:null;
--k-text-x:null;
--k-text-width-2:null;
--k-text-width:null;
--k-text-position:null;
--k-text-height-2:null;
--k-text-height:null;
--k-rounded-corners:null;
--k-right-2:null;
--k-left-2:null;
--k-image-y-2:null;
--k-image-y:null;
--k-image-x-2:null;
--k-image-x:null;
--k-image-width-2:null;
--k-image-width:null;
--k-image-height-2:null;
--k-image-height:null;
--k-height-2:null;
--k-font-size-2:null;
--k-costumized-image:null;
--k-bottom-2:null;
--k-background-image2:null;
--k-advanced-style:null;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:--fontsize_default;
font-style:);
font-weight:null;
color:var(--body-foreground);
background-position:null;
background-image:null;
border:null;
border-left:null;
border-top:null;
border-right:null;
border-bottom:null;
border-color:null;
border-radius:null;
}
.chart-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-header-font-size:null;
--k-font-size-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-background);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-foreground);
}
.button-base
{
--k-width-2:null;
--k-top-2:null;
--k-right-2:null;
--k-left-2:null;
--k-height-2:null;
--k-bottom-2:null;
--k-border-type:No;
left:null;
top:null;
right:null;
bottom:null;
width:null;
height:null;
background-color:var(--body-accent);
opacity:100;
font-family:var(--font);
font-size:var(--fontsize_default);
font-style:null;
font-weight:null;
color:var(--body-background);
}
