panel {
    form {
        width: 100%;


        textarea {

            padding: 0;
            margin: 0;
            width: 100%;
            height: 300px;
            direction: rtl;
            text-align: start;
        }





        .button-container {

            width: 100%;
            display: flex;
            flex-direction: row;

            .number-input {
                position: relative;
                width: 68px;
                height: 32px;
                margin: 2px;
                padding: 0px;
                z-index: 2;

                text-align: end;
                background-color: white;
            }

            .button-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                width: 32px;
                height: 32px;
                margin: 2px;
                z-index: 2;

                border: 1px solid #888888;
                border-radius: 4px;

                text-align: center;
                background-color: white;

                &:before {
                    position: absolute;
                    top: 2px;
                    left: 1px;
                    width: 32px;
                    height: 32px;
                    margin: 0;
                    padding: 0;

                    border-radius: 4px;

                    z-index: 1;

                    background-color: rgba(0, 0, 0, 0.05);

                }
            }



            .selected {
                border: 3px solid #ff66ff;
            }


        }

        .color-container {
            width: 100%;
            display: flex;
            flex-direction: row;

            .color-block {
                width: 32px;
                height: 32px;
                margin: 2px;

                border: 1px solid #888888;
                border-radius: 4px;


            }

            .selected {
                border: 3px solid #ff66ff;
            }
        }

        h4 {
            font-size: 20px;
            font-weight: 400;

            .icon {
                font-size: 16px;
                transform: translateY(-2px);
            }
        }


        p {
            padding: 0;
            padding-right: 8px;
            padding-top: 8px;
            margin: 0;

            font-size: 16px;
            font-weight: 200;

            .bold {
                font-weight: bold;
            }

            .italic {
                font-style: italic;
            }

            .underline {
                text-decoration: underline;
            }
        }

        footer {}
    }
}