:local(.ViewLabel) {
  font-weight: bold;
  margin-left: 8px;
}
:loacl(.DefaulFontColor) {
  color: #666666 !important;
}
:local(.MainPanelDiv) {
  /* width: 100%;
  height: calc(100vh - 110px);
  overflow: auto; */
  display: none;
}

:local(.MainPanelDivHeight) {
  display: block;
}

@media screen and (max-height: 500px) {
  :local(.MainPanelDiv) {
    display: block;
    width: 100%;
    height: 750px;
    overflow: auto;
  }
  :local(.MainPanelDivHeight){
    display: none;
  }
}
