:local(.ViewLabel) {
  font-weight: bold;
  margin-left: 8px;
}
:loacl(.DefaulFontColor) {
  color: #666666 !important;
}
:local(.MyWorkMainDivCSS){
  border-bottom: 1px solid #D3D3D3;
  margin-top: 5px;
  margin-bottom: 5px;
}

:local(.MainPanelDiv) {
 
  width: 100%;
  height: calc(100vh - 110px);
  overflow: auto;
}
:local(.MainPanelDivHeight) {
  color: #666666;
  min-height: 100%;
  position: relative;
}
:local(.MainPanelDivCSS){
  display: block;
  width: 100%;
  height: calc(100vh - 110px);
  overflow: auto;
}

@media screen and (max-height: 450px) {
  :local(.MainPanelDiv) {
    display: block;
    width: 100%;
    height: 700px;
    overflow: auto;
  }
  :local(.MainPanelDivHeight) {
   color: #666666;
  }
  :local(.MainPanelDivCSS) {
    display: none;
  }
}